[Unit]
Description=rfcomm bind daemon

[Service]
ExecStart=/usr/bin/rfcomm bind hci0 xx:xx:xx:xx:xx:xx 2
ExecStop=/usr/bin/rfcomm release hci0
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=bluetooth.target
